// Default settings //
@import "../_base/settings";
@import "../_base/mixin-function";

// CUSTOM STYLES
// ================================== //

body {
  background-color: #fff;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.1em;
  font-weight: 500;
  color: #000;
}
main {
  section {
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &#sec01 {
      background-color: purple;
      height: 700px;
    }
    &#sec02 {
      background-color: green;
    }
    &#sec03 {
      background-color: yellow;
    }
    &#sec04 {
      background-color: red;
    }
    &#sec05 {
      background-color: pink;
    }
  }
  .btn {
    display: grid;
    place-items: center;
    text-decoration: none;
    background: coral;
    color: #fff;
    &--circle {
      height: 150px;
      width: 150px;
      border-radius: 50%;
    }
  }
  .text-animation {
    position: relative;
    color: #fff;
    span {
      position: relative;
      display:inline-block;
      -webkit-font-smoothing:antialiased;
    }
  }
  .scroll-animation {
    height: 600px;
    overflow: hidden;
    position: relative;
    width: 100%;
    .img-animation {
      position: absolute;
      left: 50%;
      margin-left: -100px;
      width: 200px;
      height: 200px;
    }
  }
}

#animation {
  background: #000;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin: 50px auto;
  position: relative;
  i {
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 30px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}