@charset "UTF-8";
/* default settings */
/* reset browser (chrome, safari, firefox, ie, edge)
/* only for new website (remove if you are updating for other website)
@import "reset";
/* =================================================================== */
/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/*/
/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme*/
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.*/
/* ==========================================================================
 * Base styles: opinionated defaults
 * ==========================================================================*/
html {
  color: #222;
  line-height: 1.4;
  font-size: 16px;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "ＭＳ ゴシック", "MS Gothic", "Noto Sans CJK JP", TakaoPGothic, sans-serif;
}
@media (max-width: 750px) {
  html {
    font-size: 2.1333333333vw;
  }
}
@media (min-width: 751px) and (max-width: 1280px) {
  html {
    font-size: 1.0666666667vw;
  }
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* Vendor-prefixed and regular ::selection selectors cannot be combined:
* https://stackoverflow.com/a/16982510/7133471
*
* Customize the background color to match your design.*/
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
\::-moz-selection,
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule*/
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440*/
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.*/
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.*/
textarea {
  resize: vertical;
}

/* ==========================================================================
 * Author's custom styles
 * ==========================================================================*/
/* ==========================================================================
 * Helper classes
 * ==========================================================================*/
/*
 * Hide visually and from screen readers*/
.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe*/
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1*/
}
.sr-only.focusable:active, .sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638*/
/*
 * Hide visually and from screen readers, but maintain layout*/
.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.*/
.clearfix::before {
  content: " ";
  display: table;
}
.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}

/* ==========================================================================
* EXAMPLE Media Queries for Responsive Design.
* These examples override the primary ('mobile first') styles.
* Modify as content requires.
* ==========================================================================*/
@media only screen and (min-width: 35em) { /* Style adjustments for viewports that meet the condition*/ }
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) { /* Style adjustments for high resolution devices*/ }
/* ==========================================================================
 * Print styles.
 * Inlined to avoid the additional HTTP request:
 * https://www.phpied.com/delay-loading-your-print-css/
 * ==========================================================================*/
@media print {
  * {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster*/
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    text-shadow: none !important;
  }
  *::before, *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster*/
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    text-shadow: none !important;
  }
  a {
    text-decoration: underline;
  }
  a:visited {
    text-decoration: underline;
  }
  a[href]::after {
    content: " (" attr(href) ")";
  }
  abbr[title]::after {
    content: " (" attr(title) ")";
  }
  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol*/
  a[href^="#"]::after, a[href^="javascript:"]::after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables*/
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
.text-underline {
  text-decoration: underline;
}
.text-line-through {
  text-decoration: line-through;
}
.text-no-underline {
  text-decoration: none;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-300 {
  font-weight: 300;
}
.text-400 {
  font-weight: 400;
}
.text-500 {
  font-weight: 500;
}
.text-600 {
  font-weight: 600;
}
.text-700 {
  font-weight: 700;
}

.d-block {
  display: block !important;
}
.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

@media (max-width: 750px) {
  .only-pc {
    display: none;
  }
}
@media (min-width: 751px) {
  .only-sp {
    display: none;
  }
}

.btn {
  border: none;
}
.btn:disabled {
  cursor: default !important;
}
.btn:not(:disabled) {
  cursor: pointer !important;
}

.hamburger {
  background-color: #fff;
  padding: 10px;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 101;
}
.hamburger__menu {
  width: 30px;
  cursor: pointer;
}
.hamburger__menu span {
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #000;
}
.hamburger__menu span + span {
  margin-top: 10px;
}
.hamburger.is-active .hamburger__menu span:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(4px, -4px);
          transform: rotate(45deg) translate(4px, -4px);
  -webkit-transform-origin: top left;
          transform-origin: top left;
}
.hamburger.is-active .hamburger__menu span:nth-child(2) {
  -webkit-transition: all ease 0.1s;
  transition: all ease 0.1s;
  opacity: 0;
}
.hamburger.is-active .hamburger__menu span:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(4px, 3px);
          transform: rotate(-45deg) translate(4px, 3px);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.menu-toggle {
  font-family: "Teko", sans-serif;
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  text-align: center;
  z-index: 100;
  color: #fff;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 2px;
}
.menu-toggle ul {
  padding-top: 70px;
}
.menu-toggle ul li {
  margin-top: 10px;
  list-style: none;
}
.menu-toggle ul li a {
  display: block;
  text-decoration: none;
  padding: 10px 0;
  color: inherit;
}